html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 100%;
}

.container {
  padding: 5px;
  margin: 5px;
}

#history {
  width: 200px;
  height: 200px;
  border: 2px #fff solid;
  overflow-x: hidden;
  overflow-y: auto;
}

#display {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #333;
  border: 2px solid #fff;
  color: #fff;
}

.button:before {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  background-color: #59b1eb;
}
